<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><h1>Bienvenidos IFX</h1></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page"  [routerLink]='["/inicio"]'>Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page"  [routerLink]='["login"]' *ngIf="rol == null">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page"  (click)="Logout()" *ngIf="rol != null">Logout</a></li>
        <li class="nav-item"><a href="#" class="nav-link active"  [routerLink]='["/registro"]' *ngIf="rol == 'Administrador'">Usuarios</a></li>
        <li class="nav-item"><a href="#" class="nav-link active"  [routerLink]='["/empresas"]' *ngIf="rol == 'Administrador'">Empresas</a></li>
        <li class="nav-item"><a href="#" class="nav-link active"  [routerLink]='["/empleados"]' *ngIf="rol == 'Administrador'">Empleados</a></li>
      </ul>
    </header>
  </div>
